#cs-navigation .cs-social-icon{
    filter: brightness(0) invert(1);
}

.cs-li{
    text-transform: uppercase;
}

.cs-nav-button,
.cs-button-solid{
    border-radius:20px;
    overflow:hidden;
    text-transform: none;
}

.cs-container{
    max-width:80rem !important; 
}

.cs-button-solid:before {
    background: #5f9458 !important;
    color:#fff !important;
}

.cs-title {
    font-size: clamp(20pt, 5vw, 30pt) !important;
}

.cs-button-solid:hover:before {
    width: 100% !important;
  }


  .cs-ul-contact a{
    font-size:12pt !important;
  }

.highlight-background{
    background-color:var(--highlighBackground);
}


.highlight-background-gray{
    background-color:var(--highlighBackgroundGray);
}

.cs-color {
    color: var(--primary);
}

.starter-wrapper{
    padding-top:13rem !important;
    border-bottom:1px solid #ccc;
}

@media screen and (max-width:768px){
    
    #cs-footer-1761 .cs-logo-group .cs-text{
        max-width:100%;
    }

    #cs-footer-1761 .cs-bottom-links{
        display:grid;
        grid-template-columns: auto;
        width: 100%;
    }

    #cs-footer-1761 .cs-bottom-links .cs-bottom-link{
        padding:0;
        text-align: center !important;
    }

    #cs-footer-1761 .cs-bottom-link:before{
        width:0px;
        margin:0;
    }
}

.cs-top-container,
.cs-top-container .cs-top-social img {
    transition:.5s;
}

#cs-navigation .cs-link-icon{
    filter: brightness(0) invert(1);
}
body.scroll .cs-top-container {
    padding-top:.3rem !important;
    padding-bottom:.3rem !important;
}

body.scroll .cs-top-container .cs-top-social img {
    width:15px !important;
}